<h1>Login</h1>
<form id="loginForm" method="POST" action="/api/sessions/login">
  <label for="email">Email</label>
  <input type="text" id="email" name="email" placeholder="Email" />
  <label for="password">Contrase침a</label>
  <input type="password" id="password" name="password" placeholder="Password" />
  <input type="submit" value="Login" />
</form>
<p>No est치s registrado a칰n?
  <a href="/api/views/register">Registrate</a>
</p>
<button class="recoverPassword">Recuperar contrase침a</button>
</div>

<script>
  document.addEventListener('click', function (e) {
    if (e.target.matches('.recoverPassword')) {
      e.preventDefault();
      const userEmail = prompt('Por favor, introduce tu email para recuperar tu contrase침a:');
      if (userEmail) {
        fetch(`/api/recovery-password`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ email: userEmail })
        })
          .then(response => {
            if (response.ok) {
              alert('Instrucciones para recuperar tu contrase침a han sido enviadas a tu email.');
              return;
            } else if (response.status === 404) {
              throw new Error(response.statusText);
            } else {
              throw new Error("Ha ocurrido un error interno 游땬");
            }
          })
          .catch(error => {
            alert(`Error al procesar la solicitud. Detalle: ${error.message}`);
          });
      }
    }
  });
</script>